# Visual Studio temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# Package files
*.nupkg
*.snupkg

# Others
*.DS_Store
